<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myDog"
          class="tema_curs_03.Dog">
        <constructor-arg value="Nero"/>
    </bean>

    <bean id="myCat"
          class="tema_curs_03.Cat">
    </bean>

    <bean id="myMouse"
          class="tema_curs_03.Mouse">
    </bean>

</beans>