<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myTaskSingleton"
        class="tema_curs_04.Task"
        init-method="performInitialization"
        destroy-method="performDestruction"
        scope="singleton">
    </bean>

    <bean id="myTaskPrototype"
          class="tema_curs_04.Task"
          init-method="performInitialization"
          scope="prototype">
    </bean>

</beans>